@model telledge.Models.Room

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>call</title>
</head>
<body>
    <div>
        <h4>Room</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.teacherId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.teacherId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.roomName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.roomName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.worstTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.worstTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.extensionTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.extensionTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.point)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.point)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.endScheduleTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.endScheduleTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.beginTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.beginTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.endTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.endTime)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="~/StyleSheets/studentRoomCall.css">
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <main class="clearfix">
        <div id="main-left" class="boxes  float">
            <div id="room-name" class="center">
                <h1>@Model.roomName</h1>
            </div>
            <div id="room-tag" class="center">
                <span>@Model.tag</span>
            </div>
            <hr width="70%" />
            <div id="room-description" class="left-margin">
                <span>@Model.description</span>
            </div>
            <hr width="70%" />
            <div id="room-detail">
                <table class="left-margin">
                    <col span="1" width="200px">
                    <tr>
                        <td>料金</td>
                        <td>@(Model.point)ポイント</td>
                    </tr>
                    <tr>
                        <td>終了予定時刻</td>
                        <td>@Model.endScheduleTime</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="main-right" class="boxes float">
            <div id="call" class="divide">
                <div id="image">画像</div>
                <table>
                    <col span="1" width="200px">
                    <tbody>
                        <tr>
                            <td>講師名</td>
                            <td>Sara Rose Villanueva</td>
                        </tr>
                        <tr>
                            <td>通話開始時刻</td>
                            <td>18:01</td>
                        </tr>
                        <tr>
                            <td>通話時間</td>
                            <td>3分12秒</td>
                        </tr>
                        <tr>
                            <td>終了予定時刻</td>
                            <td>18:11</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>